.portfolio__link 
    .portfolio__link-left 
        h2.portfolio__link-education Education
        .portfolio__link-years 
            img(src="../images/typography-cube.webp", alt="")
            .portfolio__link-year 
                span 2007-2011
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .portfolio__link-years 
            img(src="../images/project-cube.webp", alt="")
            .portfolio__link-year 
                span 2011-2014
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .portfolio__link-years 
            img(src="../images/education-cube.png", alt="")
            .portfolio__link-year 
                span 2011-2014
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .portfolio__link-years 
            img(src="../images/typography-cube.webp", alt="")
            .portfolio__link-year 
                span HTML
        .portfolio__link-years 
            img(src="../images/project-cube.webp", alt="")
            .portfolio__link-year 
                span CSS
        .portfolio__link-years 
            img(src="../images/education-cube.png", alt="")
            .portfolio__link-year 
                span JAVASCRIPT 
        .portfolio__link-years 
            img(src="../images/gulp-cube.webp", alt="")
            .portfolio__link-year 
                span GULP 
        .portfolio__link-years 
            img(src="../images/gulp-cube.webp", alt="")
            .portfolio__link-year 
                span WORDPRESS 
        h2.portfolio__link-education Skills
    .portfolio__link-image 
        img(src="../images/steward.webp", alt="steward")
    .portfolio__link-right 
        h2.portfolio__link-experience.portfolio__link-education experience
        .portfolio__link-years 
            .portfolio__link-year.experience__year 
                span 2009-2010
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            img(src="../images/typography-cube.webp", alt="") 
        .portfolio__link-years 
            .portfolio__link-year.experience__year 
                span 2010-2012
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            img(src="../images/project-cube.webp", alt="")
        .portfolio__link-years 
            .portfolio__link-year.experience__year 
                span 2015-2020
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            img(src="../images/education-cube.png", alt="")
        .portfolio__link-years.contact__item 
            .portfolio__link-year.contact
                span (205) 555-0100
            img(src="../images/typography-cube.webp", alt="")
        .portfolio__link-years 
            .portfolio__link-year.contact 
                span Matt Steward@gmail.com
            img(src="../images/project-cube.webp", alt="")
        .portfolio__link-years 
            .portfolio__link-year.contact 
                span 2715 Ash Dr. San Jose, South Dakota 83475
            img(src="../images/education-cube.png", alt="")
        h2.portfolio__link-experience.portfolio__link-education Contact
        
